<%= form_with model: @post, url: posts_path, method: :post, local: true do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <!-- Hidden field for drawing data -->
  <%= form.hidden_field :drawing_data %>
  
  <!-- Preview container (will be filled by JavaScript) -->
  <div class="field" id="drawing-preview"></div>

  <div class="actions">
    <%= form.submit "Create Post" %>
  </div>
<% end %>