<div class="post-container">
  <!-- Post Header (User Image and Username) -->
  <div class="post-header">
    <%= image_tag(current_user.image.attached? ? current_user.image : 'default-avatar.png', 
        style: "width: 50px; height: 50px; border-radius: 50%;") %>
    <p><strong><%= @post.user.username %></strong></p>
  </div>

  <!-- Post Title -->
  <h2 class="post-title"><%= @post.title %></h2>
  
  <!-- Post Body -->
  <p class="post-body"><%= @post.body %></p>

  <!-- Post Image (if attached) -->
  <% if @post.image.attached? %>
    <img class="post-image" src="<%= url_for(@post.image) %>" alt="post img">
  <% end %>

  <p>Comments <%= @post.comments.count %></p>

  <% if @post.comments.any? %>
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <!-- Display Profile Picture and Username -->
          <div class="comment-header">
            <%= image_tag(comment.user.image.attached? ? comment.user.image : 'default-avatar.png', 
                style: "width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;") %>
            <strong><%= comment.user.username %>:</strong>
          </div>

          <!-- Comment Body -->
          <p><%= comment.body %></p>

          <!-- Edit/Delete buttons for the comment owner -->
          <% if comment.user == current_user %> 
            <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
            <%= button_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No comments yet. Be the first to comment!</p>
  <% end %>

  <% if user_signed_in? %>
    <h4>Add a Comment:</h4>
    <%= render 'comments/form', post: @post, comment: Comment.new %>
  <% else %>
    <p><%= link_to "Log in to add a comment", new_user_session_path %></p>
  <% end %>

  <!-- Post Actions (Edit/Delete if current_user) -->
  <% if @post.user == current_user %>
    <div class="post-actions">
      <%= link_to "Edit", edit_post_path(@post), class: "create-post-link" %>
      <%= button_to "Delete", @post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "create-post-link" %>
    </div>
  <% end %>
</div>
